/* hide the banner */
/*
div[class^="banner_"] {
    display: none !important;
}
*/
strong {
  font-weight: bold;
}

/* header style changed with update in December 2018  */
div.ms-compositeHeader-full {
  display: none;
}
/* new header row */
/*div.mainRow-43 {
  display: none;
} */

/* SEARCH BOX PLACEMENT INSIDE THE NAVBAR */

div[class*="active_"] input[class*="input_"]::-webkit-input-placeholder {
  color: gray !important;
}
div[class*="active_"] input[class*="input_"]::-moz-placeholder {
  color: gray !important;
}
div[class*="active_"] input[class*="input_"]::-ms-input-placeholder {
  color: gray !important;
}
div[class*="active_"] input[class*="input_"]:-ms-input-placeholder {
  color: gray !important;
}
div[class*="active_"] input[class*="input_"]::placeholder {
  color: gray !important;
}

div[class*="inactive_"] input[class*="input_"]::-webkit-input-placeholder {
  color: white !important;
}
div[class*="inactive_"] input[class*="input_"]::-moz-placeholder {
  color: white !important;
}
div[class*="inactive_"] input[class*="input_"]::-ms-input-placeholder {
  color: white !important;
}
div[class*="inactive_"] input[class*="input_"]:-ms-input-placeholder {
  color: white !important;
}
div[class*="inactive_"] input[class*="input_"]::placeholder {
  color: white !important;
}

div[class*="searchBox_"][class*="active_"] span[class*="icon_"] {
  fill: #03004a;
}
div[class*="searchBox_"][class*="inactive_"] span[class*="icon_"] {
  fill: white;
}
div[class*="searchBox_"][class*="active_"] span[class*="ms-searchux"] {
  fill: #03004a;
}

div[class*="searchBox_"][class*="active_"] {
  background: #f4f4f4;
  border: 1px solid #eaeaea;
  color: #03004a;
}
div[class*="searchBox_"][class*="inactive_"] {
  background: transparent;
  border: none;
  color: white;
  width: 175px;
}

button[class*="magnifierButton_"]:not([class*="inactive_"]) {
  background-color: #f4f4f4;
}

@media all and (max-width: 1366px) {
  input[class*="input_"][class*="active_"] {
    width: 100%;
  }
  input[class*="input_"][class*="inactive_"] {
    max-width: 0;
  }
  div[class*="searchBox_"][class*="inactive_"] {
    width: 50px;
  }
}

@media all and (min-width: 1100px) {
  div[class^="searchCell"] {
    position: fixed;
    z-index: 2;
    right: 5px;
    top: 72px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1099px) {
  div[class^="searchCell"] {
    position: fixed;
    z-index: 10;
    left: 300px;
    top: 4px;
  }
}

@media all and (min-width: 690px) and (max-width: 1023px) {
  div[class^="searchCell"] {
    position: fixed;
    z-index: 10;
    left: 150px;
    top: 4px;
  }
}

@media all and (max-width: 689px) {
  /* div[class^="searchCell"] {
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 65px;
  } */
  div[class^="mainRow-"] {
    display: none;
  }
}

div.mainRow-43 {
  height: 0px;
}

div[class^="logoCell"],
div[class^="titleAndNavWrapper"],
div[class^="facepileCell"],
div[class^="actionsSubcell"] {
  display: none;
}

/* END OF SEARCH BOX PLACEMENT INSIDE THE NAVBAR */

.xlg .od-TopBar-header,
.xxlg .od-TopBar-header,
.xxxlg .od-TopBar-header,
.xxxxlg .od-TopBar-header {
  display: none;
}

.o365cs-base.o365cs-topnavBGColor-2,
.o365cs-base .o365cs-topnavLinkBackground-2,
#dcoBannerContainer,
.o365cs-navMenuButton {
  background-color: #000047 !important;
}
/* remove the purple square from the home page */
.heroItemElement__featured_fc5681ea:not(.heroItemElement__colorOnly_fc5681ea):not(.heroItemElement__inCarousel_fc5681ea)
  .title_fc5681ea:before {
  background: none !important;
}
.heroItemElement__featured_7dcbeafd:not(.heroItemElement__colorOnly_7dcbeafd):not(.heroItemElement__inCarousel_7dcbeafd)
  .title_7dcbeafd:before {
  background: none !important;
}
.pquote {
  float: right;
  max-width: 300px;
  padding: 13px;
}
aside > blockquote {
  margin: 0;
}
aside.pquote blockquote p,
aside.pquote blockquote span {
  font-size: 1.5rem;
  margin: 0px;
}

/* --- MEGA MENU START --- */
@media (max-width: 1023px) {
  #dcoBannerContainer {
    display: none;
  }
}

.navbar {
  overflow: hidden;
  background-color: #000047;
}

.navbar > a {
  float: left;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #000047;
  margin: 0;
  font-weight: 600;
}

.dcoBannerThin .dropdown .dropbtn {
  font-size: 1.1rem;
  font-weight: normal;
}

.navbar > a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(155, 155, 155, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #000047;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content a,
.dropdown-content a:visited {
  color: #000047;
  text-decoration: none;
  font-size: 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#dcoBannerContainer {
  padding-left: 4rem;
}

#dcoBannerContainer.dcoBannerThin {
  padding-left: 1.5rem;
  padding-bottom: 0.75rem;
}

#dcoLogo {
  /*width:325px;*/
  width: 210px;
  padding-top: 0.5rem;
  padding-right: 15px;
}

div.dcoBannerThin #dcoLogo {
  float: left;
}

#dcoLogo img {
  width: 210px;
}

.submenuContent {
  height: 300px;
  padding-left: 2rem !important;
  color: #000047;
}

.submenuContent h2 {
  font-size: 1.4rem;
}

.submenuContent h3 {
  margin-bottom: -10px;
  font-size: 1.2rem;
}

.submenuContent ul {
  padding: 5px;
  list-style-type: none;
}

.submenuContent ul li {
  margin-bottom: 5px;
  margin-left: 4px;
}

.submenuCallout {
  background-color: #000047;
  color: #ffffff;
  height: 300px;
  padding: 1.5rem;
  display: table;
}

.left-arrow:after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 30px solid #000047;
  border-bottom: 20px solid transparent;
  border-left: 30px solid transparent;
}

.submenuCalloutContent {
  display: table-cell;
  vertical-align: middle;
  float: left;
  padding: 0px 4rem;
  width: 70%;
  height: 200px;
  display: none;
  font-size: 1.1rem;
}

/* --- MEGA MENU END --- */

/* --- WHERE IS THIS USED --- */
#dcoSearch {
  float: right;
  margin-right: 4em;
}
/* change the color of the box that used for events  */
div[class^="box_"] {
  background-color: #000047 !important;
  color: #ffffff;
  border-color: #000047 !important;
}

/* hide the feedback */
div[class^="feedback_"] {
  display: none !important;
}
/* Hide the document icon on the Highlighted Content  
.ms-DocumentCardTile .ms-DocumentCard:not(.ms-DocumentCard--compact) .ms-DocumentCardPreview-icon  img {
  display: none;
}*/
/* Hide the author information on the bottom of the highlighted content web part 
div.ms-DocumentCardActivity {
  display: none;
}*/

/*
div[class^="heroPattern_element_"] {
    padding-bottom:5px !important;
}
*/
/* update the font styling for the tinymce rich text editor  */
.tinyMceReadMode h1 {
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 1.3;
  margin: 0px 0px 16px;
}
.tinyMceReadMode h2 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.3;
  margin: 0px 0px 16px;
}
.tinyMceReadMode h3 {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.3;
  margin: 0px 0px 16px;
}
.tinyMceReadMode {
  font-size: 1.05rem;
  color: #333333;
  font-weight: 300;
}
.dcoTinyMceHeaderImageContainer {
  max-width: 900px;
  margin: 0 auto;
}
.dcoTinyMceHeaderImage {
  width: 100%;
  height: auto;
  margin-bottom: -20px;
}
.dcoTinyMce800Container {
  max-width: 800px;
  margin: 0 auto;
}
h2.dcoTinyMceSectionHeader,
.dcoTinyMceSectionHeader {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: -10px;
}
h3.dcoTinyMceSectionSubHeader,
.dcoTinyMceSectionSubHeader {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}
.dcoTinyMceInlineImage {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dcoTinyMceBlockquote {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  line-height: 1.3;
}
/* end of tinymce rich text editor  */

#SuiteNavPlaceHolder {
  overflow: hidden;
  transition: top 0.2s ease-in-out;
}

/*  Change the font weight for page titles and web part title   */
div[class^="pageTitle"] div[class^="lessText"] {
  font-weight: 600;
}
div[class^="webPartHeader_"] div[class^="captionElement_"] span {
  font-weight: 600;
}
div[class^="webPartTitle_"] {
  font-weight: 600;
}
.whatWeDoBlock {
  color: #ffffff !important;
  background-color: #000047;
  padding: 0.5rem !important;
}
.whatWeDoBlockSectionHeader {
  font-size: 1.5rem !important;
  font-weight: normal;
  margin: 1rem;
}
.whatWeDoBlockHeader {
  font-size: 1.05rem;
  font-weight: 800;
  margin: 1.2rem;
}
.whatWeDoBlockContent {
  font-size: 1rem !important;
  font-weight: normal;
  margin: 1.2rem;
}
.wpContent {
  padding: 1px;
}
.wpTitle {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 600;
}
.wpDescription {
  color: #333333;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 3%;
  width: 100%;
  letter-spacing: 0.2px;
  padding-bottom: 7%;
}
.wpCallToAction {
  align-self: stretch;
  font-size: 0.85rem;
  letter-spacing: 2px;
  margin-top: auto;
  padding-top: 15px;
  text-transform: uppercase;
}
.wpCallToAction a,
.wpCallToAction a:visited {
  color: #333333 !important;
  text-decoration: none;
}

/*   PROMO  */
.promo-bg-bk {
  background-color: #2f2f2f;
}
.promo-bg-grey {
  background-color: #f2f2f2;
}
.promo-height-200 {
  height: 200px;
}
.promo-height-300 {
  height: 300px;
}
.promo-height-400 {
  height: 400px;
}
.promo-height-500 {
  height: 500px;
}
.promo-height-600 {
  height: 600px;
}
.promo-height-600-img {
  height: 600px;
  width: auto;
  overflow: hidden;
}
.promo-overflow-hidden {
  overflow: hidden !important;
}
.promo-right {
  text-align: right;
}
.promo-left {
  text-align: left;
}
.promo-right > img,
.promo-left > img {
  max-width: 90%;
  padding-top: 30px;
}
.promo-right > div,
.promo-left > div {
  max-width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 10%;
}
.promo-width-50,
.promo-width-50-right {
  width: 50% !important;
  left: 50% !important;
  position: absolute;
  padding-top: 50px;
}
.promo-width-50-left {
  width: 50% !important;
  left: 0% !important;
  position: absolute;
  padding-top: 50px;
}
.promo-content-padding2 {
  padding: 2rem !important;
}
.promo-text-white {
  color: #ffffff !important;
}
.uppercase {
  text-transform: uppercase;
}

/*  EMD PROMO  */

/*  MENU  MOVED INSIDE HeaderMenu.txt */
